<div class="container">
    <div class="row">
        <div class="col mr-5">
            <app-nanoparticle-details [calculation]="calculation"></app-nanoparticle-details>
        </div>

        <div class="col mr-5">

            <div class="row">
                <span class="col-8"><h6>Date Added</h6></span>
                <span class="col mr-1">{{calculation.actionDateTime | date: 'h:mm a, dd MMM yy'}}</span>
            </div>

            <div class="row">
                <span class="col-8"><h6>Number of Ligand Types</h6></span>
                <span class="col mr-1">{{calculation.ligands.length}}</span>
            </div>

            <div class="row">
                <span class="col-8"><h6>Number of Receptor Types</h6></span>
                <span class="col mr-1">{{calculation.receptors.length}}</span>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary pull-right" routerLink="/view-calculations/{{calculation.calculationID}}"> Full Details </button>
</div>