<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'push'"
      [opened]="false">
  <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="view-calculations">View Caluclations</a>
      <a mat-list-item href="create-calculation">New Calculation</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isAuthenticated()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>superselection</div>
      <!-- <button mat-icon-button class="right-align">
        <mat-icon></mat-icon>
      </button>
      <button class="nav-item nav-link right-align" (click)="logout()">Logout</button> -->

      <button mat-icon-button [matMenuTriggerFor]="auth" class="right-align" *ngIf="isAuthenticated()">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #auth="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
