<div class="row my-2">
  <span class="col-8"><h6>Nanoparticle Radius / nm</h6></span>
  <span class="col mr-1">{{calculation.nanoparticleRadius}}</span>
</div>

<div class="row my-2">
    <span class="col-8"><h6>Nanoparticle Concentration / M</h6></span>
    <span class="col mr-1">{{calculation.nanoparticleConc}}</span>
  </div>
        
<div class="row my-2" *ngIf="calculation.glycolInterferenceParameter">
  <span class="col-8"><h6>Glycol Interference Parameter</h6></span>
  <span class="col mr-1">{{calculation.glycolInterferenceParameter}}</span>
</div>

<div class="row my-2" *ngIf="calculation.interchainDistance">
  <span class="col-8"><h6>Interchain Distance / nm</h6></span>
  <span class="col mr-1">{{calculation.interchainDistance}}</span>
</div>

<div class="row my-2">
  <span class="col-8"><h6>Tolerance</h6></span>
  <span class="col mr-1">{{calculation.tolerance}}</span>
</div>
