    <div class="row">
      <label class="col-sm-6 col-form-label">Nanoparticle Radius / nm</label>
      <div class="col-sm-6">
        {{calculation.nanoparticleRadius}}
      </div>
    </div>
    
            
    <div class="row">
      <label class="col-sm-6 col-form-label">Nanoparticle Concentration / M</label>
      <div class="col-sm-6">
          {{calculation.nanoparticleConc}}
      </div>
    </div>

    <div class="row" *ngIf="calculation.glycolInterferenceParameter">
      <label class="col-sm-6 col-form-label">Glycol Interference Parameter</label>
      <div class="col-sm-6">
          {{calculation.glycolInterferenceParameter}}
      </div>
    </div>

    <div class="row" *ngIf="calculation.interchainDistance">
      <label class="col-sm-6 col-form-label">Interchain Distance / nm</label>
      <div class="col-sm-6">
        {{calculation.interchainDistance}}
      </div>
    </div>
    
    <div class="row">
      <label class="col-sm-6 col-form-label">Tolerance</label>
      <div class="col-sm-6">
        {{calculation.tolerance}}
      </div>
    </div>