<form class="mx-auto py-2">
  <div class="input-group input-focus mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text bg-white"><i class="fa fa-search"></i></span>
    </div>
    <input type="search" placeholder="Search" class="form-control border-left-0 border-right-0">
    <div class="input-group-prepend">
        <span class="input-group-text bg-white"><i class="mat-expansion-indicator"></i></span>
      </div>
  </div>
</form>

<div *ngFor="let calc of calculations">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{calc.name}}
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="!calc.selectivity" class="pull-right"> Waiting </div>
          <div *ngIf="calc.selectivity" class="pull-right"> Completed </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-calc-partial-view [calculation]="calc"></app-calc-partial-view>
    </mat-expansion-panel>
  </mat-accordion>
</div>
