<form class="mx-auto py-2">
  <div class="input-group input-focus mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text bg-white"><i class="fa fa-search"></i></span>
    </div>
    <input type="search" placeholder="Search" class="form-control border-left-0 border-right-0">
    <div class="input-group-prepend">
        <span class="input-group-text bg-white"><i class="mat-expansion-indicator"></i></span>
      </div>
  </div>
</form>

<div *ngFor="let res of results">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{res.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{res.text}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      hello
    </mat-expansion-panel>
  </mat-accordion>
</div>
