<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search" value="Search">
      <mat-icon aria-label="seach icon">search</mat-icon>
    </mat-form-field>

  </form>

<div *ngFor="let res of results">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{res.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{res.text}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      hello
    </mat-expansion-panel>
  </mat-accordion>
</div>
